@using BellaHair.Domain
@using BellaHair.Ports.Treatments
@inject ITreatmentCommand TreatmentCommand
@inject ISnackbar Snackbar

<!-- Mikkel Klitgaard -->


<h3>Opret ny behandling</h3>

	<hr class="treatment-line" />

	<EditForm Model="@_newTreatmentForm" OnValidSubmit="@HandleCreateTreatment">
		<DataAnnotationsValidator />

		<div class="treatment-modal-text">

			<div class="treatment-input">

				<label for="name-input">Navn</label>
				<input id="name-input" type="text" placeholder="Behandlingsnavn" @bind="_newTreatmentForm.Name" />
				<ValidationMessage For="@(() => _newTreatmentForm.Name)" />
						
			</div>

			<div class="treatment-input">

				<label for="price-input">Pris</label>
				<input id="price-input" type="number" @bind="_newTreatmentForm.Price" />
				<ValidationMessage For="@(() => _newTreatmentForm.Price)" />

			</div>

			<div class="treatment-input">

				<label for="duration-input">Varighed</label>
				<input id="duration-input" type="number" @bind="_newTreatmentForm.DurationMinutes" />
				<ValidationMessage For="@(() => _newTreatmentForm.DurationMinutes)" />

			</div>
		</div>


		<div class="btn-wrapper">
			<button class="btn-add" type="submit">Opret</button>
			<button class="btn-remove" type="button" @onclick="HandleCancel">Annuller</button>
		</div>

	</EditForm>


@code {
	private NewTreatmentModel _newTreatmentForm = new NewTreatmentModel();

	[Parameter, EditorRequired]
	public required EventCallback OnCreate { get; set; }

	[Parameter, EditorRequired]
	public required EventCallback OnCancel { get; set; }


	private async Task HandleCreateTreatment()
	{
		try
		{
			var command = new CreateTreatmentCommand(
				_newTreatmentForm.Name,
				_newTreatmentForm.Price,
				_newTreatmentForm.DurationMinutes);

			await TreatmentCommand.CreateTreatmentAsync(command);
			Snackbar.Add("Behandlingen blev oprettet", Severity.Success);

			await OnCreate.InvokeAsync();
		}
		catch (DomainException dex)
		{
			Snackbar.Add(dex.Message, Severity.Error);
		}
		catch (Exception ex)
		{
			Snackbar.Add($"Der skete en fejl under oprettelse af behandling: {ex.Message}", Severity.Error);
		}

	}

	private async Task HandleCancel()
	{
		await OnCancel.InvokeAsync();
	}
}
