@using BellaHair.Presentation.WebUI.Components.Pages.Treatments
@using BellaHair.Presentation.WebUI.Components.Shared
@using System.Collections.Generic;
@using System.ComponentModel.DataAnnotations;
@using System.Linq;
@using BellaHair.Ports.Employees
@using BellaHair.Ports.Treatments
@using MudBlazor
@inject IEmployeeCommand _employeeCommand
@inject ITreatmentQuery _treatmentQuery

<div class="kk-container">

<h3>Opret ny medarbejder</h3>
<br />



<EditForm Model="@_newEmployeeModel" OnValidSubmit="@HandleCreateEmployee">
        <DataAnnotationsValidator />

		@if (_errorMessage != null)
		{
			<p>@_errorMessage</p>
		}

		<div class="employee-grouped-inputs">
		<div class="employee-input">
    <label for="first-name-input" class="required">Fornavn</label>
				<input id="first-name-input" type="text" @bind="_newEmployeeModel.FirstName" style="width: 150px" />
			<ValidationMessage For="@(() => _newEmployeeModel.FirstName)" />
		</div>

		<div class="employee-input">
	<label for="middle-name-input">Mellemnavn</label>
	<input id="middle-name-input" type="text" @bind="_newEmployeeModel.MiddleName" style="width: 150px"/>
	<ValidationMessage For="@(() => _newEmployeeModel.MiddleName)" />
		</div>

				<div class="employee-input">
				<label for="last-name-input" class="required">Efternavn</label>
				<input id="last-name-input" type="text" @bind="_newEmployeeModel.LastName" style="width: 150px" />
	<ValidationMessage For="@(() => _newEmployeeModel.LastName)" />
		</div>
		</div>

		<br />

		<div class="employee-grouped-inputs">
				<div class="employee-input">
	<label for="email-input" class="required">Email</label>
	<input id="email-input" type="text" @bind="_newEmployeeModel.Email" />
	<ValidationMessage For="@(() => _newEmployeeModel.Email)" />
		</div>

				<div class="employee-input">
				<label for="phonenumber-input" class="required">Telefon</label>
	<input id="phonenumber-input" type="number" @bind="_newEmployeeModel.PhoneNumber" style="width: 100px; "/>
	<ValidationMessage For="@(() => _newEmployeeModel.PhoneNumber)" />
		</div>

		</div>
		<br />

		<div class="employee-grouped-inputs">
		<div class="employee-input">
				<label for="streetname-input" class="required">Vejnavn</label>
	<input id="streetname-input" type="text" @bind="_newEmployeeModel.StreetName" />
	<ValidationMessage For="@(() => _newEmployeeModel.StreetName)" />
		</div>

		<div class="employee-input">
				<label for="street-number-input" class="required">Vejnummer</label>
	<input id="street-number-input" type="number" @bind="_newEmployeeModel.StreetNumber" />
	<ValidationMessage For="@(() => _newEmployeeModel.StreetNumber)" />
		</div>

		<div class="employee-input">
	<label for="floor-input">Dør/etage</label>
				<input id="floor-input" type="text" @bind="_newEmployeeModel.Floor" style="width:50px" />
	<ValidationMessage For="@(() => _newEmployeeModel.Floor)" />
		</div>
		</div>
		
		<div class="employee-grouped-inputs">
		<div class="employee-input">
				<label for="city-name-input" class="required">By</label>
	<input id="city-name-input" type="text" @bind="_newEmployeeModel.CityName"/>
	<ValidationMessage For="@(() => _newEmployeeModel.CityName)" />
		</div>

		<div class="employee-input">
				<label for="zipcode-input" class="required">Postnummer</label>
	<input id="zipcode-input" type="number" @bind="_newEmployeeModel.ZipCode" />
	<ValidationMessage For="@(() => _newEmployeeModel.ZipCode)" />
			</div>
		</div>
		
	<MudSelect T="Guid" Label="Vælg hvilke behandlinger, medarbejderen kan udføre." MultiSelection="true" @bind-SelectedValues="SelectedTreatmentIds">

			@foreach (var treatment in _treatments ?? Enumerable.Empty<TreatmentViewModel>())
			{
				<MudSelectItem T="Guid" Value="@(treatment.Id)">@treatment.Name</MudSelectItem>
            }
	</MudSelect>		
	

	 <div class="btn-wrapper">
            <button class="btn-add" type="submit">Opret</button>
	 </div>

</EditForm>
</div>

	@code {
	[Parameter, EditorRequired]
	public required EventCallback OnCreate { get; set; }

	[Parameter]
	public NewEmployeeModel _newEmployeeModel { get; set; } = new NewEmployeeModel();

	private string? _errorMessage = null;

	private IEnumerable<Guid> SelectedTreatmentIds { get; set; } = new List<Guid>();
	private List<TreatmentViewModel> _treatments { get; set; } = new List<TreatmentViewModel>();

	private void SetValues(IEnumerable<Guid> selectedIds)
	{
		SelectedTreatmentIds = selectedIds;
	}

	protected override async Task OnInitializedAsync()
	{
		_errorMessage = null;
		_newEmployeeModel = new NewEmployeeModel();
        await LoadTreatments();
	}

	private async Task HandleCreateEmployee()
	{
		try
		{
			_newEmployeeModel.TreatmentIds = SelectedTreatmentIds;

			var command = new CreateEmployeeCommand(
				_newEmployeeModel.FirstName,
				_newEmployeeModel.MiddleName,
				_newEmployeeModel.LastName,
				_newEmployeeModel.Email,
				_newEmployeeModel.PhoneNumber,
				_newEmployeeModel.StreetName,
				_newEmployeeModel.CityName,
				_newEmployeeModel.StreetNumber,
				_newEmployeeModel.ZipCode,
				_newEmployeeModel.TreatmentIds
			);
            await _employeeCommand.CreateEmployeeCommand(command);

			await OnCreate.InvokeAsync();

		}
		catch (Exception e)
		{
			_errorMessage = $"Oprettelse mislykkedes: {e.Message}";
		}
	}

	private async Task LoadTreatments()
	{
		try
		{
			var treatments = await _treatmentQuery.GetAllAsync();
			_treatments = treatments
				.OrderBy(t => t.Name)
				.Select(t => new TreatmentViewModel(t.Id, t.Name, t.Price, t.Duration))
				.ToList();
		}
		catch (Exception ex)
		{
			_errorMessage = $"Der skete en fejl under indlæsning af behandlinger: {ex.Message}";
		}
	}

}
