@attribute [StreamRendering]
@using BellaHair.Domain
@using BellaHair.Presentation.WebUI.Components.Shared
@using BellaHair.Presentation.WebUI.Components.Pages.Employees.CreateEmployeeComponents
@using BellaHair.Ports.Employees

@page "/medarbejdere"

@rendermode InteractiveServer
@inject IEmployeeQuery EmployeeQuery

<PageHeader HeaderText="Medarbejdere" HeaderSubText="Administrer og tilføj medarbejdere" NewButtonText="Opret ny medarbejder" OnNewButtonClicked="@(() => { _showNewModal = true; })" />

@* Modal til oprettelse af medarbejder - vises når der trykkes på opret knappen. *@
<Modal @bind-IsVisible="@_showNewModal"> 
	<CreateEmployeeForm OnCreate="@HandleCreate" />
</Modal>

@* Viser alle medarbejdere, hvis der findes nogen vha EmployeeCard komponentet *@
<div class="kk-container employees-container">
		@if (_errorMessage != null) { <p>@_errorMessage</p>}
		@if (_employees == null) {<p>Loading...</p>}
		else
		{ 
			@if (_employees.Count == 0)
			{
				<p>Der er ingen medarbejdere i øjeblikket.</p>
			}

			@foreach (var employee in _employees)
			{
				<EmployeeCard Employee="employee" OnDelete="@HandleDeleteClick" OnChange="LoadEmployees"/>
			}
		}
</div>

@code {
	private bool _showNewModal = false;
	private string? _errorMessage;

	/// <summary>
	/// List of viewmodels used to store employee data
	/// </summary>
	private List<EmployeeViewModel>? _employees = null;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		await LoadEmployees();
	}

	private async Task HandleDeleteClick(Guid Id)
	{
		_employees = _employees?.Where(d => d.Id != Id).ToList();
	}

	private async Task LoadEmployees()
	{
		try
		{
			var employees = await EmployeeQuery.GetAllEmployeesAsync();
			_employees = employees.Select(e => new EmployeeViewModel(e.Id,
																	 e.FirstName,
																	 e.MiddleName,
																	 e.LastName,
																	 e.FullName,
																	 e.Email,
																	 e.PhoneNumber,
																	 e.StreetName,
																	 e.City,
																	 e.StreetNumber,
																	 e.ZipCode,
																	 e.FullAddress,
																	 e.Treatments.Select(t => t.Name).ToList(),
																	 e.Floor))
																	 .OrderBy(e => e.FirstName)
																	 .ToList();
		}

		catch (DomainException ex)
		{

			_errorMessage = ex.Message;
		}

		catch (Exception ex)
		{
			_errorMessage = ex.Message; // TODO: "Noget gik galt"
		}

	}

	private async Task HandleCreate()
	{
        _showNewModal = false;
        await LoadEmployees();
	}
}