@attribute [StreamRendering]
@using BellaHair.Domain
@using BellaHair.Presentation.WebUI.Components.Shared
@using BellaHair.Ports.Employees

@page "/medarbejdere"

@rendermode InteractiveServer
@inject IEmployeeQuery _employeeQuery

<PageHeader HeaderText="Medarbejdere" HeaderSubText="Administrer og tilføj medarbejdere" NewButtonText="Opret ny medarbejder" OnNewButtonClicked="@(() => { })" />

<div class="kk-container employees-container">
		@if (_errorMessage != null) { <p>@_errorMessage</p>}
		@if (_employees == null) {<p>Loading...</p>}
		else
		{
			@foreach (var employee in _employees)
			{
				<div class="employee-card">												@*Contains the entire singular employee card layout*@
						
				<div class="employee-avatar">											@*Contains the avatar with intials*@
					@GetEmployeeInitials(employee.name)
				</div>
					<div>																@*Positions other info to position next to avatar*@
 						<h3>@employee.name</h3>

						<div class="employee-contact-details">
							<div class="employee-single-contact-detail">
								<MailIcon Class="employee-icons" />
								@employee.email
								</div>

							<div class="employee-single-contact-detail">
								<PhoneIcon Class="employee-icons"/>
								@employee.phoneNumber
							</div>
						</div>

						<div class="treatments-employees-container">					@*Contains all treatments and makes it possible to position them together*@
							@foreach (var treatment in employee.treatmentNames)
							{															
								<div class="treatment-employee-card">@treatment</div>	@*Contains individual treatment and their layout*@
							}
						</div>
					</div>
				</div>
			}
		}
	</div>

@code {
	private string? _errorMessage;

	/// <summary>
	/// List of viewmodels used to store employee view model data
	/// </summary>
	private List<EmployeeSimpleViewModel>? _employees = null;

	/// <summary>
	/// Provides initials needed to make employee avatar by taking a full name as a single string, 
	///  splitting it into separate words (parts) based on spaces, and returns the first letter of
	///  each word concatenated into a single string.
	/// </summary>
	/// <param name="name"></param>
	private string GetEmployeeInitials(string name)
	{
		var parts = name.Split(' ');
		return string.Concat(parts.Select(p => p.FirstOrDefault()));

	}

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		await LoadEmployees();
	}

	private async Task LoadEmployees()
	{
		try
		{
			var employees = await _employeeQuery.GetAllEmployeesSimpleAsync();
			_employees = employees.Select(e => new EmployeeSimpleViewModel(e.Id, e.Name, e.Email, e.PhoneNumber, e.TreatmentNames)).ToList();
		}
		catch (DomainException ex)
		{

			_errorMessage = ex.Message;
		}
		catch (Exception ex)
		{
			_errorMessage = ex.Message; // TODO: "Noget gik galt"
		}
	}

	public record EmployeeSimpleViewModel(Guid Id, string name, string email, string phoneNumber, List<string> treatmentNames);
	// TODO: Add full viewmodel
}