@using BellaHair.Ports.Employees
@using BellaHair.Presentation.WebUI.Components.Shared;
@inject IEmployeeCommand _employeeCommand

		<Modal @bind-IsVisible="@_showNewModal">
			<h4>Slet medarbejder @employeeSimpleViewModel.Name?</h4>
			<div class="remove-buttons">
				<button class="btn-remove" onclick="@HandleOnDeleteConfirm">Slet</button>
				<button class="btn-add" onclick="@CloseModal">Annuller</button>
			</div>
		</Modal>


		<div class="employee-card">														@*Contains the entire singular employee card layout*@
						
				<div class="employee-avatar">											@*Contains the avatar with intials*@
					@GetEmployeeInitials(@employeeSimpleViewModel.Name)
				</div>
					<div>																@*Positions other info to position next to avatar*@
					<h3>@employeeSimpleViewModel.Name</h3>

						<div class="employee-contact-details">
							<div class="employee-single-contact-detail">
								<MailIcon Class="employee-icons" />
									@employeeSimpleViewModel.Email
								</div>

							<div class="employee-single-contact-detail">
								<PhoneIcon Class="employee-icons"/>
									@employeeSimpleViewModel.PhoneNumber
							</div>
						</div>
			<div class="delete-button">
						<BinDeleteButton OnClick="@HandleOnDeleteClick"/>
			</div>
						<div class="treatments-employees-container">					@*Contains all treatments and makes it possible to position them together*@
						@foreach (var treatment in employeeSimpleViewModel.TreatmentNames)
							{															
								<div class="treatment-employee-card">@treatment</div>	@*Contains individual treatment and their layout*@
							}
						</div>
					</div>
				</div>

@code
{
	private bool _showNewModal = false;

	[Parameter, EditorRequired]
	public required EmployeeSimpleViewModel employeeSimpleViewModel { get; set; }

	[Parameter, EditorRequired]
	public required EventCallback<Guid> OnDelete { get; set; }

	/// <summary>
	/// Provides initials needed to make employee avatar by taking a full name as a single string,
	///  splitting it into separate words (parts) based on spaces, and returns the first letter of
	///  each word concatenated into a single string.
	/// </summary>
	/// <param name="name"></param>
	private string GetEmployeeInitials(string name)
	{
		var parts = name.Split(' ');
		return string.Concat(parts.Select(p => p.FirstOrDefault()));

	}

	private async Task HandleOnDeleteClick()
	{
		_showNewModal = true;
	}

	private async Task HandleOnDeleteConfirm()
	{
		var command = new DeleteEmployeeCommand(employeeSimpleViewModel.Id);
		await _employeeCommand.DeleteEmployeeCommand(command);
		CloseModal();
		await OnDelete.InvokeAsync(employeeSimpleViewModel.Id);
	}

	private void CloseModal() => _showNewModal = false;

}
