@using BellaHair.Domain
@using BellaHair.Infrastructure
@using BellaHair.Ports.Employees
@using BellaHair.Presentation.WebUI.Components.Shared;
@using BellaHair.Presentation.WebUI.Components.Pages.Employees.CreateEmployeeComponents;
@inject IEmployeeCommand EmployeeCommand
@inject IEmployeeQuery EmployeeQuery
@inject NavigationManager NavigationManager
@inject ISnackbar SnackBar
@inject ICurrentDateTimeProvider CurrentDateTimeProvider

	<Modal @bind-IsVisible="@_showDeleteModal">
		<div class="modal-centered-content">

			@* Hvis medarbejderen har fremtidige bookinger, vises dette. *@
			@if (_futureBookings)
			{
				<DeleteConfirmationIcon Class="delete-confirmation-icon"/>
				<p style="max-width: 24rem; text-align: center;"> Medarbejderen @Employee.FullName har fremtidige bookinger.
					Disse skal slettes før medarbejderen kan slettes.
				</p>
			<button class="btn-add" @onclick="@(() => CloseDeleteModal())">Annuller</button>
			}

			@* Hvis medarbejderen ikke har fremtidige bookinger, vises dette. *@
			else
			{
<DeleteComponent EntityName="@Employee.FullName" 
                 OnCancel="@(() => CloseDeleteModal())" 
                 OnDeleteConfirm="@(() => HandleOnDeleteConfirm())" 
                 EntityTypeName="medarbejder"/>			}
		</div>
	</Modal>
			
	<Modal @bind-IsVisible="@_showTreatmentsModal">
		<EmployeeTreatmentsModal _treatments="Employee.Treatments" />
		<button class="btn-add" @onclick="@(() => CloseTreatmentsModal())">Luk</button>
	</Modal>

	<Modal @bind-IsVisible="@showEditModal">

		<UpdateEmployeeForm EmployeeToUpdate="@Employee" OnCancel="@HandleCancel" OnUpdate="@HandleUpdate"/>
	
	</Modal>


		<div class="employee-card">														@*Contains the entire singular employee card layout*@
	<div class="employee-avatar">
		@*Contains the avatar with intials*@
		@GetEmployeeInitials(@Employee.FullName)
	</div>
	<div class="employee-content">
		@*Positions other info to position next to avatar*@
		<h3>@Employee.FullName</h3>

			<div class="employee-contact-details">
				<div class="employee-single-contact-detail">
					<MailIcon Class="employee-icons" />
					@Employee.Email
				</div>

				<div class="employee-single-contact-detail">
					<PhoneIcon Class="employee-icons" />
					@Employee.PhoneNumber
				</div>

				<div class="employee-single-contact-detail">
				<MudIcon Icon="@Icons.Material.Filled.LocationOn" Class="employee-icons" />
					@Employee.FullAddress
				</div>
			</div>

			<div class="treatment-calendar-button-container">
		<button class="btn-add" style="width: 7rem;" @onclick="HandleOnViewTreatmentsClick"> Se behandlinger </button>
		<button class="btn-add" @onclick="NavigateToCalendar">Se kalender</button>
</div>
</div>

	<div class="delete-edit-buttons d-flex gap-2" style="width: 0%;">
		<EditButton onclick="@(() => showEditModal = true)" />
			<BinDeleteButton OnClick="@HandleOnDeleteClick" />
	</div>
					</div>



@code
{

	public bool _showTreatmentsModal = false;
	private bool _showDeleteModal = false;
	public bool showEditModal = false;
	private bool _futureBookings = false;

	[Parameter, EditorRequired]
	public required EventCallback OnChange { get; set; }

	[Parameter, EditorRequired]
	public required EmployeeViewModel Employee { get; set; }

	[Parameter, EditorRequired]
	public required EventCallback<Guid> OnDelete { get; set; }

	/// <summary>
	/// Provides initials needed to make employee avatar by taking a full name as a single string,
	///  splitting it into separate words (parts) based on spaces, and returns the first letter of
	///  each word concatenated into a single string.
	/// </summary>
	/// <param name="name"></param>
	private string GetEmployeeInitials(string name)
	{
		var parts = name.Split(' ');
		return string.Concat(parts.Select(p => p.FirstOrDefault()));
	}

	private async Task HandleUpdate()
	{
		showEditModal = false;
		await OnChange.InvokeAsync();
	}

	private void HandleCancel()
	{
		showEditModal = false;
	}

	// Viser modalen og tjekker, om der er fremtidige bookinger.
	private async Task HandleOnDeleteClick()
	{
		_showDeleteModal = true;
		_futureBookings = await EmployeeQuery.EmployeeHasFutureBookings(Employee.Id);
	}

	// Sletter emdarbejderen, hvis der ikke er fremtidige bookinger og lukker modalen samt laver snackbar som bekræftelse.
	private async Task HandleOnDeleteConfirm()
	{
		var command = new DeleteEmployeeCommand(Employee.Id);
		try
		{
			await EmployeeCommand.DeleteEmployeeCommand(command);
			CloseDeleteModal();
			SnackBar.Add("Medarbejderen blev slettet.", Severity.Success);
			await OnDelete.InvokeAsync(Employee.Id);
		}

		catch (Exception e)
		{
			SnackBar.Add(e.Message, Severity.Warning);
		}
	}

	// Lukker modalen
	private void CloseDeleteModal() => _showDeleteModal = false;
	private void CloseTreatmentsModal() => _showTreatmentsModal = false;
	private void HandleOnViewTreatmentsClick() => _showTreatmentsModal = true;


	// Navigerer til kalenderen for den medarbejder, der trykkes på
	private void NavigateToCalendar()
	{
		NavigationManager.NavigateTo($"/kalender?date={CurrentDateTimeProvider.GetCurrentDateTime().ToString("yyyy-MM-dd")}&employeeId={Employee.Id}");
	}

}
