@using BellaHair.Ports.Employees
@using BellaHair.Presentation.WebUI.Components.Shared;
@inject IEmployeeCommand _employeeCommand

		<div class="employee-card">												@*Contains the entire singular employee card layout*@
						
				<div class="employee-avatar">											@*Contains the avatar with intials*@
					@GetEmployeeInitials(@employeeSimpleViewModel.name)
				</div>
					<div>																@*Positions other info to position next to avatar*@
					<h3>@employeeSimpleViewModel.name</h3>

						<div class="employee-contact-details">
							<div class="employee-single-contact-detail">
								<MailIcon Class="employee-icons" />
									@employeeSimpleViewModel.email
								</div>

							<div class="employee-single-contact-detail">
								<PhoneIcon Class="employee-icons"/>
									@employeeSimpleViewModel.phoneNumber
							</div>
						</div>
				<BinDeleteButton OnClick="@HandleOnDeleteClick" />

						<div class="treatments-employees-container">					@*Contains all treatments and makes it possible to position them together*@
						@foreach (var treatment in employeeSimpleViewModel.treatmentNames)
							{															
								<div class="treatment-employee-card">@treatment</div>	@*Contains individual treatment and their layout*@
							}
						</div>
					</div>
				</div>

@code
{
	[Parameter, EditorRequired]
	public required EmployeeSimpleViewModel employeeSimpleViewModel { get; set; }

	[Parameter, EditorRequired]
	public required EventCallback<Guid> OnDelete { get; set; }

	/// <summary>
	/// Provides initials needed to make employee avatar by taking a full name as a single string,
	///  splitting it into separate words (parts) based on spaces, and returns the first letter of
	///  each word concatenated into a single string.
	/// </summary>
	/// <param name="name"></param>
	private string GetEmployeeInitials(string name)
	{
		var parts = name.Split(' ');
		return string.Concat(parts.Select(p => p.FirstOrDefault()));

	}

	private async Task HandleOnDeleteClick()
	{
		var command = new DeleteEmployeeCommand(employeeSimpleViewModel.Id);
		await _employeeCommand.DeleteEmployeeCommand(command);
		await OnDelete.InvokeAsync(employeeSimpleViewModel.Id);
	}

}
