@using BellaHair.Domain
@using BellaHair.Presentation.WebUI.Components.Pages.Treatments
@using BellaHair.Presentation.WebUI.Components.Shared
@using System.Linq;
@using BellaHair.Ports.Employees
@using BellaHair.Ports.PrivateCustomers
@using BellaHair.Ports.Treatments
@inject IPrivateCustomerCommand PrivateCustomerCommand
@inject IPrivateCustomerQuery PrivateCustomerQuery
@inject ISnackbar Snackbar

<!-- Mikkel Dahlmann -->

<h3 style="text-align: center; font-weight: bold">Rediger kunde</h3>
<br />
<p style="text-align: center">Rediger kundens oplysninger.</p>

<!-- Editform container -->
<!-- Editcontext specifikt sat, så den kan opdateres, når form resettes -->
<EditForm EditContext="@editContext" OnValidSubmit="@UpdatePCustomer">
	<DataAnnotationsValidator />

	<div class="inputs-container">

		<div class="inputs-items-container">

			<!-- Indeholdte inputs til formen -->
			<div>
				<CreatePrivateCustomerInputs PrivateCustomerModel="PrivateCustomer" />
			</div>

		</div>

	</div>

	<div class="btn-wrapper">
		<button class="btn-add" disabled="@(!InputHasChanged)" type="submit">Opdater</button>
		<button class="btn-remove" type="button" @onclick="@HandleReset">Nulstil ændringer</button>
		<button class="btn-remove" type="button" @onclick="@HandleCancel">Annuller</button>
	</div>

</EditForm>

@code {
	[Parameter, EditorRequired]
	public required EventCallback OnUpdate { get; set; }

	[Parameter, EditorRequired]
	public required EventCallback OnCancel { get; set; }

	[Parameter, EditorRequired]
	public PrivateCustomerDTO? CustomerToUpdate { get; set; }

	public NewPrivateCustomerModel? PrivateCustomer { get; set; } = new NewPrivateCustomerModel();

	private EditContext? editContext { get; set; }

	private bool InputHasChanged;

	protected override void OnInitialized()
	{
		if (CustomerToUpdate != null)
		{
			InitializeViewModel();
		}

		else
		{
			Snackbar.Add("Noget gik galt.", Severity.Error);
		}
	}

    // Sætter editcontext med modellen som reference.
    // Der abonneres på feltændringer for at tracke input-ændringer.
    // Feltændringer medfører kald af HandleFieldChanged-metoden.
	private void InitializeViewModel()
	{
		MapDtoToModel();
		editContext = new EditContext(PrivateCustomer!);
		editContext.OnFieldChanged += HandleFieldChanged!;
		InputHasChanged = false;
	}

	private void HandleReset()
	{
		InitializeViewModel();
		StateHasChanged();
	}

	private async Task HandleCancel()
	{
		Snackbar.Add("Redigering blev afbrudt.", Severity.Warning);
		await OnCancel.InvokeAsync();
	}

	private void HandleFieldChanged(object sender, FieldChangedEventArgs e)
	{
		InputHasChanged = editContext!.IsModified();

		StateHasChanged();
	}

	private async Task UpdatePCustomer()
	{
		try
		{
			if (PrivateCustomer!.MiddleName == string.Empty) PrivateCustomer.MiddleName = null;

			var command = new UpdatePrivateCustomerCommand(
				PrivateCustomer.Id,
				PrivateCustomer.FirstName,
				PrivateCustomer.MiddleName,
				PrivateCustomer.LastName,
				PrivateCustomer.StreetName,
				PrivateCustomer.City,
				PrivateCustomer.StreetNumber,
				PrivateCustomer.ZipCode!.Value,
				PrivateCustomer.Floor,
				PrivateCustomer.PhoneNumber,
				PrivateCustomer.Email,
				PrivateCustomer.Birthday!.Value
			);

			await PrivateCustomerCommand.UpdatePrivateCustomerAsync(command);

			Snackbar.Add($"Kundeprofilen '{command.FirstName} {command.LastName}' blev opdateret", Severity.Success);

			await OnUpdate.InvokeAsync();

		}
		catch (DomainException e)
		{
			Snackbar.Add(e.Message, Severity.Error);
		}
		catch (Exception e)
		{
			Snackbar.Add($"Noget gik galt. Fejlbesked: {e.Message}", Severity.Error);
		}
	}

    // Mapper den givne DTO til Model der bruges til inputs.
	private void MapDtoToModel()
	{
		PrivateCustomer!.Id = CustomerToUpdate!.Id;
		PrivateCustomer.FirstName = CustomerToUpdate.FirstName;
		PrivateCustomer.MiddleName = CustomerToUpdate.MiddleName;
		PrivateCustomer.LastName = CustomerToUpdate.LastName;
		PrivateCustomer.StreetName = CustomerToUpdate.StreetName;	
		PrivateCustomer.City = CustomerToUpdate.City;
		PrivateCustomer.StreetNumber = CustomerToUpdate.StreetNumber;
		PrivateCustomer.ZipCode = CustomerToUpdate.ZipCode;
		PrivateCustomer.Floor = CustomerToUpdate.Floor;
		PrivateCustomer.PhoneNumber = CustomerToUpdate.PhoneNumber;
		PrivateCustomer.Email = CustomerToUpdate.Email;
		PrivateCustomer.Birthday = CustomerToUpdate.Birthday;
	}

	private void Dispose()
	{
		if (editContext != null)
		{
			editContext.OnFieldChanged -= HandleFieldChanged!;
		}
	}
}
