<!-- Mikkel Dahlmann -->
@page "/kunder"

@using BellaHair.Domain
@using BellaHair.Presentation.WebUI.Components.Shared
@using BellaHair.Ports.PrivateCustomers
@using BellaHair.Presentation.WebUI.Components.Pages.PrivateCustomers.CreatePrivateCustomerComponents

@attribute [StreamRendering]
@rendermode InteractiveServer
@inject IPrivateCustomerQuery PrivateCustomerQuery
@inject ISnackbar Snackbar


<PageHeader HeaderText="Kunder" HeaderSubText="Administrer og tilføj kunder" NewButtonText="Opret ny kunde" OnNewButtonClicked="@(() => { showCreateModal = true; })" />
	

<!-- Modal overlay der viser 'Opret ny kunde'-formular -->
<Modal IsVisible="@showCreateModal">
	<CreatePrivateCustomerForm OnCreate="@HandleCreate" OnCancel="@HandleCancel"></CreatePrivateCustomerForm>
</Modal>


<!-- Container til privatecustomer 'cards' -->
<div class="kk-container privatecustomer-container">
	@if (_customers is null)
	{
		<h1>Der kunne ikke findes nogen kunder i databasen.</h1>
	}
	else
	{
		foreach (var customer in _customers)
		{
			<!-- Card komponent der tager imod en customer. OnDelete er komponentens EventCallBack. -->
			<PrivateCustomerCard PrivateCustomer="@customer" OnChange="@LoadCustomers"></PrivateCustomerCard>
		}
	}
</div>

@code {
	private bool showCreateModal = false;

	private List<PrivateCustomerDTO>? _customers;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		await LoadCustomers();
	}

	private async Task LoadCustomers()
	{
		// Forsøger at populate _customers-listen med alle privatkunder.
		try
		{
			_customers = await PrivateCustomerQuery.GetPrivateCustomersAsync();
			
			// _customers = customers.Select(e => new PrivateCustomerViewModel(
			// 		e.Id, 
			// 		e.FullName, 
			// 		e.Birthday, 
			// 		e.Email, 
			// 		e.PhoneNumber, 
			// 		e.FullAddress, 
			// 		e.Visists))
			// 	.ToList();
		}

		catch (DomainException ex)
		{
			Snackbar.Add($"Noget gik galt. Fejlbesked: {ex.Message}", Severity.Error);
		}

		catch (Exception ex)
		{
			Snackbar.Add($"Noget gik galt. Fejlbesked: {ex.Message}", Severity.Error);
		}
	}

	private async Task HandleCreate()
	{
		showCreateModal = false;
		await LoadCustomers();
	}

	private void HandleCancel()
	{
		showCreateModal = false;
	}
}