@using BellaHair.Ports.Discounts
@using BellaHair.Ports.PrivateCustomers
@using BellaHair.Presentation.WebUI.Components.Pages.PrivateCustomers.CreatePrivateCustomerComponents
@using BellaHair.Presentation.WebUI.Components.Shared

@inject IPrivateCustomerCommand PrivateCustomerCommand
@inject IPrivateCustomerQuery PrivateCustomerQuery
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<!-- Mikkel Dahlmann -->
<!-- TODO Når 'slet booking' er implementeret, tilføj slet bookinger til sletning af kunde -->
<!-- TODO Bedre styling -->


<!-- Modal til sletning -->
<Modal @bind-IsVisible="@showDeleteModal">
	<div class="modal-centered-content">
		@if (_futureBookings)
		{
			<DeleteConfirmationIcon Class="delete-confirmation-icon" />
			<p style="max-width: 24rem; text-align: center;">
				Kunden @PrivateCustomer.FullName har fremtidige bookinger.
				Disse skal slettes før kunden kan slettes.
			</p>
			<button class="btn-add" @onclick="@HandleCancel">Annuller</button>
		}
		else
		{
			<DeleteComponent EntityName="@PrivateCustomer.FullName" OnCancel="@HandleCancel" OnDeleteConfirm="@HandleOnDeleteConfirm" EntityTypeName="kunde" />
		}
	</div>
</Modal>


<!-- Modal til redigering -->
<Modal IsVisible="@showEditModal">
	<UpdatePrivateCustomerForm OnUpdate="@HandleUpdate" OnCancel="@CloseModal" CustomerToUpdate="@PrivateCustomer"></UpdatePrivateCustomerForm>
</Modal>


<div class="privatecustomer-card">
	
	<div class="privatecustomer-avatar">
		@GetCustomerInitials(PrivateCustomer.FullName)
	</div>

	<div class="privatecustomer-details">
		<div class="privatecustomer-contact-body" style="color: black;">	
			<h3>
				@PrivateCustomer.FullName
			</h3>
			<div class="
				@(
					loyaltyLevel == "Almindelig" ? "regular-customer" :
					loyaltyLevel == "Ny kunde" ? "new-customer" :
					"loyalty-customer"
				)">
				@loyaltyLevel
			</div>
		</div>
			
		
		<div class="privatecustomer-contact-body">
			
			<div class="privatecustomer-contact-details">
				<PhoneIcon Class="privatecustomer-icons" />
				@PrivateCustomer.PhoneNumber
			</div>

			<div class="privatecustomer-contact-details">
				<HomeIcon Class="privatecustomer-icons" />
				@PrivateCustomer.FullAddress
			</div>

			<div class="privatecustomer-contact-details">
				<BirthdayIcon Class="privatecustomer-icons-birthday" />
				@PrivateCustomer.Birthday.ToString("d. MMMM yyyy") (@CalculateAge() år)
			</div>

			<div class="privatecustomer-contact-details">
				<MailIcon Class="privatecustomer-icons" />
				@PrivateCustomer.Email
			</div>

			<div class="privatecustomer-contact-details">
				<VisitsIcon Class="privatecustomer-icons" />
				<button class="btn-add" @onclick="NavigateToNewCustomerBookings">Se kalender</button>
			</div>
			
			<div class="privatecustomer-contact-details">
				<VisitsIcon Class="privatecustomer-icons" />
				<button class="btn-add bookings" @onclick="NavigateToOldCustomerBookings">Tidligere bookinger (@PrivateCustomer.Visits)</button>
			</div>

		</div>

	</div>
	
	<div class="action-button-group">
		<EditButton onclick="@(() => showEditModal = true)" />
		<BinDeleteButton OnClick="@HandleOnDeleteClick" />
	</div>

</div>

	@code {

	[Parameter, EditorRequired]
	public required PrivateCustomerDTO PrivateCustomer { get; set; }

	[Parameter, EditorRequired]
	public required EventCallback OnChange { get; set; }

	[Parameter, EditorRequired]
	public required List<LoyaltyDiscountDTO> LoyaltyDiscounts { get; set; }

	private bool showEditModal = false;
	private bool showDeleteModal = false;
	private bool _futureBookings = false;
	private string loyaltyLevel = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		CalculateLoyaltyLevel();
	}

	// Viser modal, og tjekker for future-bookings.
	private async Task HandleOnDeleteClick()
	{
		showDeleteModal = true;
		_futureBookings = await PrivateCustomerQuery.PCFutureBookingsCheck(PrivateCustomer.Id);
	}

	private async Task HandleOnDeleteConfirm()
	{
		var command = new DeletePrivateCustomerCommand(PrivateCustomer.Id);
		await PrivateCustomerCommand.DeletePrivateCustomerAsync(command);
		showDeleteModal = false;
		await OnChange.InvokeAsync();
		Snackbar.Add("Kundeprofilen blev slettet.", Severity.Success);
	}

	private async Task HandleUpdate()
	{
		showEditModal = false;
		await OnChange.InvokeAsync();
	}

	private void HandleCancel()
	{
		CloseModal();
		Snackbar.Add("Handlingen blev afbrudt.", Severity.Warning);
	}

	private void CloseModal()
	{
		showDeleteModal = false;
		showEditModal = false;
	}

	private string GetCustomerInitials(string name)
	{
		var parts = name.Split(' ');
		return string.Concat(parts.Select(p => p.FirstOrDefault()));
	}

	// Beregner kundens alder
	private int CalculateAge()
	{

		// TODO: Brug GetCurrentDate metode når den er CrossCut 
		DateTime today = DateTime.Today;

		// År udregnet fra nuværende år minus fødselsår.
		int age = today.Year - PrivateCustomer.Birthday.Year;

		// Hvis fødselsdag endnu ikke er sket i år, så træk ét år fra alder.
		if (PrivateCustomer.Birthday.Date > today.AddYears(-age).Date)
		{
			age--;
		}

		return age;
	}

	private void CalculateLoyaltyLevel()
	{
		var discount = LoyaltyDiscounts
		.Where(ld => ld.MinimumVisits < PrivateCustomer.Visits)
		.MaxBy(ld => ld.MinimumVisits);

		if (discount != null)
		{
			loyaltyLevel = discount.Name;
		}
		else if (discount == null && PrivateCustomer.Visits > 0)
		{
			loyaltyLevel = "Almindelig";
		}
		else
		{
			loyaltyLevel = "Ny kunde";
		}
	}

	private void NavigateToNewCustomerBookings()
	{
		NavigationManager.NavigateTo($"/bookings?search={PrivateCustomer.PhoneNumber}&tab=new");
    }
	
	private void NavigateToOldCustomerBookings()
	{
		NavigationManager.NavigateTo($"/bookings?search={PrivateCustomer.PhoneNumber}&tab=old");
    }
}