@using BellaHair.Ports.PrivateCustomers
@using BellaHair.Presentation.WebUI.Components.Pages.PrivateCustomers.CreatePrivateCustomerComponents
@using BellaHair.Presentation.WebUI.Components.Shared

@inject IPrivateCustomerCommand PrivateCustomerCommand
@inject IPrivateCustomerQuery PrivateCustomerQuery
@inject ISnackbar Snackbar

<!-- Mikkel Dahlmann -->
<!-- TODO Når 'slet booking' er implementeret, tilføj slet bookinger til sletning af kunde -->
<!-- TODO Bedre styling -->


<!-- Modal til sletning -->
<Modal @bind-IsVisible="@showDeleteModal">
	@if (_futureBookings)
	{
		<h4>@PrivateCustomer.FullName kan ikke slettes. Slet først kundens fremtidige bookinger.</h4>
	}
	else
	{
		<h4>Slet kundeprofil - @PrivateCustomer.FullName</h4>
		<button class="btn-remove" @onclick="@HandleOnDeleteConfirm">Slet</button>
		<button class="btn-add" @onclick="@HandleCancel">Annuller</button>
	}
</Modal>


<!-- Modal til redigering -->
<Modal IsVisible="@showEditModal">
	<UpdatePrivateCustomerForm OnUpdate="@HandleUpdate" OnCancel="@CloseModal" CustomerToUpdate="@PrivateCustomer"></UpdatePrivateCustomerForm>
</Modal>


<div class="privatecustomer-card">
	
	<div class="privatecustomer-avatar">
		@GetCustomerInitials(PrivateCustomer.FullName)
	</div>

	<div class="privatecustomer-details">
		<h3>@PrivateCustomer.FullName</h3>
		
		<div class="privatecustomer-contact-body">
			
			<div class="privatecustomer-contact-details">
				<PhoneIcon Class="privatecustomer-icons" />
				@PrivateCustomer.PhoneNumber
			</div>

			<div class="privatecustomer-contact-details">
				<HomeIcon Class="privatecustomer-icons" />
				@PrivateCustomer.FullAddress
			</div>

			<div class="privatecustomer-contact-details">
				<BirthdayIcon Class="privatecustomer-icons-birthday" />
				@PrivateCustomer.Birthday.ToString("d. MMMM yyyy")
			</div>

			<div class="privatecustomer-contact-details">
				<MailIcon Class="privatecustomer-icons" />
				@PrivateCustomer.Email
			</div>

			<div class="privatecustomer-contact-details">
				<VisitsIcon Class="privatecustomer-icons" />
				Antal besøg: @PrivateCustomer.Visits
			</div>

		</div>

	</div>
	
	<div class="action-button-group">
		<EditButton onclick="@(() => showEditModal = true)" />
		<BinDeleteButton OnClick="@HandleOnDeleteClick" />
	</div>

</div>

	@code {

	[Parameter, EditorRequired]
	public required PrivateCustomerDTO PrivateCustomer { get; set; }

	[Parameter, EditorRequired]
	public required EventCallback OnChange { get; set; }

	private bool showEditModal = false;
	private bool showDeleteModal = false;
	private bool _futureBookings = false;

	// Viser modal, og tjekker for future-bookings.
	private async Task HandleOnDeleteClick()
	{
		showDeleteModal = true;
		_futureBookings = await PrivateCustomerQuery.PCFutureBookingsCheck(PrivateCustomer.Id);
	}

	private async Task HandleOnDeleteConfirm()
	{
		var command = new DeletePrivateCustomerCommand(PrivateCustomer.Id);
		await PrivateCustomerCommand.DeletePrivateCustomerAsync(command);
		showDeleteModal = false;
		await OnChange.InvokeAsync();
		Snackbar.Add("Kundeprofilen blev slettet.", Severity.Success);
	}

	private async Task HandleUpdate()
	{
		showEditModal = false;
		await OnChange.InvokeAsync();
	}

	private void HandleCancel()
	{
		CloseModal();
		Snackbar.Add("Handlingen blev afbrudt.", Severity.Warning);
	}

	private void CloseModal()
	{
		showDeleteModal = false;
		showEditModal = false;
	}

	private string GetCustomerInitials(string name)
	{
		var parts = name.Split(' ');
		return string.Concat(parts.Select(p => p.FirstOrDefault()));
	}
}
