<!-- Mikkel Dahlmann -->
@page "/kunder"

@using BellaHair.Domain
@using BellaHair.Presentation.WebUI.Components.Shared
@using BellaHair.Ports.PrivateCustomers
@using BellaHair.Ports.Discounts
@using BellaHair.Presentation.WebUI.Components.Pages.PrivateCustomers.CreatePrivateCustomerComponents

@attribute [StreamRendering]
@rendermode InteractiveServer
@inject IPrivateCustomerQuery PrivateCustomerQuery
@inject ISnackbar Snackbar
@inject ILoyaltyDiscountQuery LoyaltyDiscountQuery


<PageHeader HeaderText="Kundekatalog" HeaderSubText="Administrer og tilføj kunder" NewButtonText="Opret ny kunde" OnNewButtonClicked="@(() => { showCreateModal = true; })" />
	

<!-- Modal overlay der viser 'Opret ny kunde'-formular -->
<Modal IsVisible="@showCreateModal">
	<CreatePrivateCustomerForm OnCreate="@HandleCreate" OnCancel="@HandleCancel"></CreatePrivateCustomerForm>
</Modal>

<!-- Container til privatecustomer 'cards' -->
<div class="kk-container privatecustomer-container">

    <!-- Search bar til at filtrere kunder samt vise antal kunder fundet -->
	<div class="search-bar-container">
		<h4>Kunder (@filteredCustomers!.Count)</h4>
		<input type="text" class="form-control customer-search" placeholder="Søg efter kunde" 
		@bind-value="@SearchTerm" @bind-value:event="oninput" @bind-value:after="@ApplyFilter" />

	</div>
	
	@if (filteredCustomers is null)
	{
		<h1>Der kunne ikke findes nogen kunder i databasen.</h1>
	}
	else
	{
		foreach (var customer in filteredCustomers)
		{
			<!-- Card komponent der tager imod en customer. OnChange er komponentens EventCallBack. -->
			<PrivateCustomerCard PrivateCustomer="@customer" OnChange="@LoadCustomers" LoyaltyDiscounts="loyaltyDiscounts"></PrivateCustomerCard>
		}
	}
</div>

@code {
	private bool showCreateModal = false;

	private List<PrivateCustomerDTO>? allCustomers;
	private List<PrivateCustomerDTO>? filteredCustomers;
	private List<LoyaltyDiscountDTO>? loyaltyDiscounts;

	private string SearchTerm { get; set; } = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		await LoadCustomers();

		await LoadLoyaltyDiscounts();
	}

	private async Task LoadCustomers()
	{
		// Forsøger at populate allCustomers-listen med alle privatkunder.
		try
		{
			allCustomers = await PrivateCustomerQuery.GetPrivateCustomersAsync();
			filteredCustomers = allCustomers;
		}

		catch (DomainException ex)
		{
			Snackbar.Add($"Noget gik galt. Fejlbesked: {ex.Message}", Severity.Error);
		}

		catch (Exception ex)
		{
			Snackbar.Add($"Noget gik galt. Fejlbesked: {ex.Message}", Severity.Error);
		}
	}

	// Metode til at filtrere kunder baseret på søgetermen.
	private void ApplyFilter()
	{
		if (string.IsNullOrWhiteSpace(SearchTerm))
		{
			filteredCustomers = allCustomers;
		}
		else
		{
			filteredCustomers = allCustomers!
			.Where(c => c.FullName.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase) ||
			c.FullAddress.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase) ||
			c.Email.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase) ||
			c.PhoneNumber.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase) ||
			c.Birthday.ToString().Contains(SearchTerm, StringComparison.OrdinalIgnoreCase))
			.ToList();
		}

		StateHasChanged();
	}

	private async Task HandleCreate()
	{
		showCreateModal = false;
		await LoadCustomers();
	}

	private void HandleCancel()
	{
		showCreateModal = false;
		Snackbar.Add("Handlingen blev afbrudt.", Severity.Info);
	}

	private async Task LoadLoyaltyDiscounts()
	{
		loyaltyDiscounts = await LoyaltyDiscountQuery.GetAllAsync();
	}
}