<!-- Mikkel Klitgaard -->

@using BellaHair.Domain
@using BellaHair.Ports.Discounts
@using BellaHair.Presentation.WebUI.Components.Shared;

@inject ICampaignDiscountCommand CampaignDiscountCommand
@inject ISnackbar Snackbar;

<div class="ldc-card">
	<p class="p-header">@CampaignDiscount.Name</p>
	<p class="discount-duration">Varighed: @CampaignDiscount.StartDate.ToString("d/M/yy") - @CampaignDiscount.EndDate.ToString("d/M/yy")</p>
	<hr/>
	<p class="p-txt">Gælder for behandlinger:</p>
	<div class="t-wrapper">
	@foreach(var id in CampaignDiscount.Treatments)
	{
		<button class="btn-offer">
			@id.Name
		</button>
	}
	</div>
	<p>Rabat: @((CampaignDiscount.DiscountPercent * 100).ToString("0"))%</p>
	<BinDeleteButton OnClick="@HandleOnDeleteClick"/>
</div>

@code {
	[Parameter, EditorRequired]
	public required CampaignDiscountViewModel CampaignDiscount { get; set; }

	// Guid type så ID'et af den slettede rabat kan sendes tilbage til Discounts siden, så denne automatisk kan opdatere.
	[Parameter, EditorRequired]
	public required EventCallback<Guid> OnDelete { get; set; }

	private async Task HandleOnDeleteClick()
	{
		try
		{
			var command = new DeleteCampaignDiscountCommand(CampaignDiscount.Id);
			await CampaignDiscountCommand.DeleteCampaignDiscountAsync(command);
			await OnDelete.InvokeAsync(CampaignDiscount.Id);
			Snackbar.Add("Kampagnerabat slettet.", Severity.Success);
		}
		catch (DomainException ex)
		{
			Snackbar.Add(ex.Message, Severity.Error);
		}
		catch (Exception)
		{
			Snackbar.Add("Noget gik galt.", Severity.Error);
		}
	}
}
