<!-- Dennis -->

@attribute [StreamRendering]

@page "/rabatter"

@using BellaHair.Domain
@using BellaHair.Ports.Discounts
@using BellaHair.Presentation.WebUI.Components.Shared
@using BellaHair.Presentation.WebUI.Components.Pages.Discounts.CampaignDiscount

@rendermode InteractiveServer

@inject ILoyaltyDiscountQuery LoyaltyDiscountQuery
@inject ISnackbar Snackbar;
@inject ICampaignDiscountQuery CampaignDiscountQuery

<Modal @bind-IsVisible="@_showNewModal">
	@if (_activeTab == DiscountTab.Loyalty) { <p>Ny stamkunderabat</p> }
	@if (_activeTab == DiscountTab.Campaign) { <CreateCampaignDiscountForm OnCreate="HandleOnCreateCampaign"/> }
</Modal>

<PageHeader HeaderText="Rabatter" HeaderSubText="Administrer og tilføj rabatter" NewButtonText="@_newButtonText" OnNewButtonClicked="@(() => { _showNewModal = true; })"/>

<div>
	<button @onclick="HandleLoyaltySelectorClick" class="@(_activeTab == DiscountTab.Loyalty ? "btn-select-active" : "btn-select")">Stamkunderabatter (@LoyaltyCount)</button>
	<button @onclick="HandleCampaignSelectorClick" class="@(_activeTab == DiscountTab.Campaign ? "btn-select-active" : "btn-select")">Kampagnerabatter (@CampaignCount)</button>
</div>

<div class="kk-container">
	@if (_discounts == null) { <p>Loading</p> }
	else if (_activeTab == DiscountTab.Loyalty)
	{
		@foreach (var loyaltyDiscount in _discounts.OfType<LoyaltyDiscountViewModel>())
		{
			<LoyaltyDiscountCard LoyaltyDiscount="loyaltyDiscount" OnDelete="@HandleOnDeleteLoyaltyClick"/>
		}
	}
	else if (_activeTab == DiscountTab.Campaign)
	{
		@foreach (var campaignDiscount in _discounts.OfType<CampaignDiscountViewModel>())
		{
			<CampaignDiscountCard CampaignDiscount="campaignDiscount" OnDelete="@HandleOnDeleteCampaignClick"></CampaignDiscountCard>
		}
	}
</div>

@code {
	private enum DiscountTab { Loyalty, Campaign }
	private DiscountTab _activeTab;

	private string _newButtonText => _activeTab switch
	{
		DiscountTab.Loyalty => "Ny stamkunderabat",
		DiscountTab.Campaign => "Ny kampagnerabat",
		_ => "Ny"
	};

	private bool _showNewModal = false;

	private List<IDiscountViewModel>? _discounts = null;
	private int LoyaltyCount;
	private int CampaignCount;


	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		await UpdateCounts();
		await HandleLoyaltySelectorClick();
	}

	private async Task HandleOnCreateCampaign()
	{
		_showNewModal = false;

		await UpdateCounts(DiscountTab.Campaign);
		await HandleCampaignSelectorClick();
	}

	private async Task HandleLoyaltySelectorClick()
	{
		try
		{
			var discounts = await LoyaltyDiscountQuery.GetAllAsync();

			_discounts = discounts
			.OrderBy(d => d.Name)
			.Select(d => (IDiscountViewModel)(new LoyaltyDiscountViewModel(d.Id, d.Name, d.MinimumVisits, d.DiscountPercent)))
			.ToList();

			_activeTab = DiscountTab.Loyalty;
		}
		catch (DomainException ex) { Snackbar.Add(ex.Message, Severity.Error); }
		catch (Exception) { Snackbar.Add("Noget gik galt.", Severity.Error); }
	}

	private async Task HandleCampaignSelectorClick()
	{
		try
		{
			var discounts = await CampaignDiscountQuery.GetAllAsync();

			_discounts = discounts
				.OrderBy(d => d.StartDate)
				.Select(d => (IDiscountViewModel)new CampaignDiscountViewModel(
					d.Id, d.Name, d.DiscountPercent, d.StartDate, d.EndDate, d.Treatments.ToList()
					)).ToList();

			_activeTab = DiscountTab.Campaign;
		}
		catch (DomainException dex)
		{
			Snackbar.Add(dex.Message, Severity.Error);
		}
		catch (Exception)
		{
			Snackbar.Add("Noget gik galt.", Severity.Error);
		}
		
	}

	private async Task UpdateCounts(DiscountTab? discount = null)
	{
		//Hvis discount er null opdateres alle counts (første tjek)
		//Hvis discount er angivet opdateres kun den forbundne count (andet tjek)
		if (discount == null || discount == DiscountTab.Loyalty) LoyaltyCount = await LoyaltyDiscountQuery.GetCountAsync();
		if (discount == null || discount == DiscountTab.Campaign) CampaignCount = await CampaignDiscountQuery.GetCountAsync();
	}

	//EventCallback som gives til LoyaltyDiscountCard så koden automatisk kan køres når der trykkes på slet knappen.
	private async Task HandleOnDeleteLoyaltyClick(Guid Id)
	{
		_discounts = _discounts?.Where(d => d.Id != Id).ToList();
		await UpdateCounts(DiscountTab.Loyalty);
	}

	private async Task HandleOnDeleteCampaignClick(Guid id)
	{
		throw new NotImplementedException();
	}

}
