<!-- Dennis -->
<!-- Mikkel Klitgaard-->

@attribute [StreamRendering]

@page "/rabatter"

@using BellaHair.Domain
@using BellaHair.Ports.Discounts
@using BellaHair.Presentation.WebUI.Components.Shared
@using BellaHair.Presentation.WebUI.Components.Pages.Discounts.CampaignDiscount

@rendermode InteractiveServer

@inject ILoyaltyDiscountQuery LoyaltyDiscountQuery
@inject ISnackbar Snackbar;
@inject ICampaignDiscountQuery CampaignDiscountQuery
@inject IBirthdayDiscountQuery BirthdayDiscountQuery

<Modal IsVisible="@_showNewModal">
<CreateCampaignDiscountForm OnCreate="HandleOnCreateCampaign" OnCancel="HandleOnCancel"/>
</Modal>

<PageHeader HeaderText="Rabatter" HeaderSubText="Administrer og tilføj rabatter" NewButtonText="Ny Kampagnerabat" OnNewButtonClicked="@(() => { _showNewModal = true; })"/>

<div style="margin-bottom:20px;">
	<button @onclick="HandleGeneralSelectorClick" class="@(_activeTab == DiscountTab.General ? "btn-select-active" : "btn-select")">Generelt</button>
	<button @onclick="HandleCampaignSelectorClick" class="@(_activeTab == DiscountTab.Campaign ? "btn-select-active" : "btn-select")">Kampagnerabatter (@CampaignCount)</button>
</div>

@if (_discounts == null) { <p>Loading</p> }
else if (_activeTab == DiscountTab.General)
{
	<h3>Stamkunderabat (@LoyaltyCount)</h3>
	<div class="kk-container">
		@foreach (var loyaltyDiscount in _discounts.OfType<LoyaltyDiscountViewModel>())
		{
			<LoyaltyDiscountCard LoyaltyDiscount="loyaltyDiscount" OnDelete="@HandleOnDeleteLoyaltyClick"/>
		}
	</div>

	<h3>Fødselsdagsrabat</h3>
	<div class="kk-container">

		<BirthdayDiscountCard BirthdayDiscount="_birthdayDiscount"/>

	</div>
}
else if (_activeTab == DiscountTab.Campaign)
{
	@foreach (var campaignDiscount in _discounts.OfType<CampaignDiscountViewModel>())
	{
		<CampaignDiscountCard CampaignDiscount="campaignDiscount" OnDelete="@HandleOnDeleteCampaignClick"></CampaignDiscountCard>
	}
}

@code {
	private enum DiscountTab { General, Campaign }
	private DiscountTab _activeTab;

	private bool _showNewModal = false;

	private List<IDiscountViewModel>? _discounts = null;
	private int LoyaltyCount;
	private int CampaignCount;

	private BirthdayDiscountViewModel? _birthdayDiscount;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		await UpdateCounts();
		await HandleGeneralSelectorClick();
	}

	private async Task HandleOnCreateCampaign()
	{
		_showNewModal = false;

		await UpdateCounts(DiscountTab.Campaign);
		await HandleCampaignSelectorClick();
	}

	private void HandleOnCancel()
	{
		_showNewModal = false;
		Snackbar.Add("Handlingen blev afbrudt.", Severity.Info);
	}


	private async Task HandleGeneralSelectorClick()
	{
		try
		{
			var loyaltyDiscounts = await LoyaltyDiscountQuery.GetAllAsync();

			_discounts = loyaltyDiscounts
			.OrderBy(d => d.MinimumVisits)
			.Select(d => (IDiscountViewModel)(new LoyaltyDiscountViewModel(d.Id, d.Name, d.MinimumVisits, d.DiscountPercent)))
			.ToList();

			var birthdayDiscount = await BirthdayDiscountQuery.GetBirthdayDiscountAsync();

			if (birthdayDiscount != null)
				_birthdayDiscount = new BirthdayDiscountViewModel(birthdayDiscount.Id, birthdayDiscount.Name, birthdayDiscount.DiscountPercent);

			_activeTab = DiscountTab.General;
		}
		catch (DomainException ex) { Snackbar.Add(ex.Message, Severity.Error); }
		catch (Exception) { Snackbar.Add("Noget gik galt.", Severity.Error); }
	}

	private async Task HandleCampaignSelectorClick()
	{
		try
		{
			var discounts = await CampaignDiscountQuery.GetAllAsync();

			var now = DateTime.Now;

			_discounts = discounts
				.OrderByDescending(d => d.StartDate <= now && d.EndDate >= now)
				.ThenBy(d => d.StartDate)
				.Select(d => (IDiscountViewModel)new CampaignDiscountViewModel(
					d.Id, d.Name, d.DiscountPercent, d.StartDate, d.EndDate, d.Treatments.ToList()
					)).ToList();

			_activeTab = DiscountTab.Campaign;
		}
		catch (DomainException dex)
		{
			Snackbar.Add(dex.Message, Severity.Error);
		}
		catch (Exception)
		{
			Snackbar.Add("Noget gik galt.", Severity.Error);
		}

	}

	private async Task UpdateCounts(DiscountTab? discount = null)
	{
		//Hvis discount er null opdateres alle counts (første tjek)
		//Hvis discount er angivet opdateres kun den forbundne count (andet tjek)
		if (discount == null || discount == DiscountTab.General) LoyaltyCount = await LoyaltyDiscountQuery.GetCountAsync();
		if (discount == null || discount == DiscountTab.Campaign) CampaignCount = await CampaignDiscountQuery.GetCountAsync();
	}

	//EventCallback som gives til LoyaltyDiscountCard så koden automatisk kan køres når der trykkes på slet knappen.
	private async Task HandleOnDeleteLoyaltyClick(Guid Id)
	{
		_discounts = _discounts?.Where(d => d.Id != Id).ToList();
		await UpdateCounts(DiscountTab.General);
	}

	private async Task HandleOnDeleteCampaignClick(Guid id)
	{
		_discounts = _discounts?.Where(d => d.Id != id).ToList();
		await UpdateCounts(DiscountTab.Campaign);
	}

}
