@using System.Globalization
@using BellaHair.Presentation.WebUI.Components.Pages.Bookings.Icons
@using BellaHair.Ports.Invoices
@inject IInvoiceQuery InvoiceQuery
@inject IInvoiceCommand InvoiceCommand

@inject NavigationManager NavigationManager;

<button class="bc-container" @onclick="HandleBookingClick">
	<div class="bc-header">
		<p class="bc-customer">@Booking.CustomerFullName</p>
		<div>
			<p class="bc-date">@Booking.Date.ToString("dddd, MMMM dd, yyyy", new CultureInfo("da-DK"))</p>
			<p class="bc-time">@Booking.StartTime - @Booking.EndTime</p>
		</div>
	</div>
	<div class="bc-body">
		<div class="bc-body-left">
			<div class="bc-treatment">
				<TreatmentIcon Class="bc-treatment-icon" />
				<span class="bc-treatment-name">@Booking.TreatmentName</span>
			</div>

			<div class="bc-duration">
				<DurationIcon Class="bc-duration-icon" />
				<span>@Booking.DurationMinutes min</span>
			</div>

			<div class="bc-employee">
				<EmployeeIcon Class="bc-employee-icon" />
				<span>Behandler: @Booking.EmployeeFullName</span>
			</div>
		</div>

		<div class="bc-body-right">
			@if (Booking.DiscountName != null || Booking.DiscountAmount != null)
			{
				<div class="bc-price">
					<span>Total:</span>
					<span style="margin-right: 2rem;">@Booking.Total.ToString("C2")</span>
					<DiscountIcon Class="bc-discount-icon" />
					<span>Rabat: @Booking.DiscountName</span>
					<span>-@Booking.DiscountAmount!.Value.ToString("C2")</span>
				</div>
			}
		</div>
	</div>
</button>

@code {
	[Parameter, EditorRequired]
	public required BookingViewModel Booking { get; set; }

	private void HandleBookingClick()
	{
		NavigationManager.NavigateTo($"/booking/{Booking.Id}");
	}
}

<style>
	.bc-container {
		border: 1px solid #e0e0e0;
		border-radius: 12px;
		padding: 1.25rem;
		margin-bottom: 1rem;
		background: #fff;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0. 05);
		transition: box-shadow 0.2s ease, border 0.2s ease;
		display: block;
		width: 100%;
	}


		.bc-container:hover {
			background-color: #f5faff;
			border: 1px solid #2563eb;
		}

	.bc-header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 1rem;
		border-bottom: 1px solid #f0f0f0;
	}

	.bc-customer {
		margin: 0;
		font-size: 1.15rem;
		font-weight: 550;
		color: #2c3e50;
	}

	.bc-date {
		text-align: right;
		margin: 0;
		font-size: 1.10rem;
		font-weight: 500;
		color: black;
	}

	.bc-time {
		text-align: right;
		margin-top: 0.25rem;
		font-size: 1.10rem;
		color: black;
	}

	.bc-body {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.bc-body-left {
		display: flex;
		flex-direction: row;
		gap: 0.75rem;
	}

	.bc-body-right {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 0.5rem;
	}

	.bc-treatment,
	.bc-duration,
	.bc-employee {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		color: black;
		margin-right: 1rem;
		font-size: 1.10rem;
	}

	.bc-price {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		color: black;
		font-size: 1.10rem;
	}

	.bc-treatment-name {
		font-size: 1.05rem;
		font-weight: 500;
	}

	.bc-treatment-icon {
		color: #8e44ad;
	}

	.bc-duration-icon {
		color: #3498db;
	}

	.bc-employee-icon {
		color: #e74c3c;
	}

	.bc-discount-icon {
		color: #177000;
	}

	.bc-total {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-size: 1.10rem;
		font-weight: 500;
		color: black;
	}
</style>
