<!-- Dennis -->
@page "/bookings"

@using BellaHair.Domain
@using BellaHair.Ports.Bookings
@using BellaHair.Presentation.WebUI.Components.Shared
@using Microsoft.AspNetCore.WebUtilities
@using System.Globalization

@rendermode InteractiveServer

@inject ICurrentDateTimeProvider CurrentDateTimeProvider
@inject IBookingQuery BookingQuery
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar;
@inject IBookingCommand BookingCommand
@inject IJSRuntime JSRuntime

<Modal @bind-IsVisible="_showDeleteModal">
	<DeleteComponent EntityTypeName="Booking" EntityName="Booking" OnCancel="@(() => { _showDeleteModal = false; })" OnDeleteConfirm="HandleConfirmDelete" />
</Modal>

<PageHeader HeaderText="Bookings" HeaderSubText="Administrer og opret nye rabatter" NewButtonText="Ny booking" OnNewButtonClicked="@(() => { NavigationManager.NavigateTo("/booking/ny"); })" />

<div>
	<button @onclick="HandleNewSelectorClick" class="@(_activeTab == BookingTab.New? "btn-select-active" : "btn-select")">Kommende bookinger</button>
	<button @onclick="HandleOldSelectorClick" class="@(_activeTab == BookingTab.Old ? "btn-select-active" : "btn-select")">Gamle bookinger</button>
</div>

<div class="kk-container bookings-container" @ref="_scrollDiv">
	<div class="search-bar-container">
		<h6>Bookings (@_filteredBookings.Count)</h6>
		<input type="search" class="form-control booking-search" placeholder="Søg efter booking"
			   @bind-value="@SearchTerm" @bind-value:event="oninput" @bind-value:after="@ApplyFilter" />

	</div>
	@foreach (var booking in _bookings)
	{
		<BookingCard Booking="@booking" OnClickDelete="HandleDeleteClick" />
	}
</div>

@code {
	private enum BookingTab { New, Old }
	private BookingTab _activeTab;

	private bool _showDeleteModal = false;
	private Guid _bookingToDelete;
	private DateTime _now;
	private List<BookingViewModel> _bookings = [];
	private List<BookingViewModel> _filteredBookings = [];

	private ElementReference _scrollDiv;
	private bool _busy = false;
	private bool _allLoaded = false;
	private int _skip = 0;
	private const int PageSize = 20;

	[Parameter]
	[SupplyParameterFromQuery(Name = "search")]
	public string SearchTerm { get; set; } = string.Empty;

	[Parameter]
	[SupplyParameterFromQuery(Name = "tab")]
	public string? Tab { get; set; }

	protected async override Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		string? searchedTerm = null;

		if (SearchTerm != null) searchedTerm = SearchTerm;

		if(Tab == "old") await HandleOldSelectorClick();
		else await HandleNewSelectorClick();

		if (searchedTerm != null)
		{
			SearchTerm = searchedTerm;
			ApplyFilter();
		}
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JSRuntime.InvokeVoidAsync("attachDotNetScrollHandler", _scrollDiv, DotNetObjectReference.Create(this));
		}
	}

	[JSInvokable]
	public async Task OnScrollToBottom()
	{
		if (!_busy && !_allLoaded)
		{
			_busy = true;
			await LoadMoreAsync();
			StateHasChanged();
			await Task.Delay(1);
			_busy = false;
		}
	}

	private async Task LoadMoreAsync()
	{
		var more = _activeTab == BookingTab.New ? await BookingQuery.GetAllNewAsync(_skip, PageSize) : await BookingQuery.GetAllOldAsync(_skip, PageSize);

		var newBookings = more.Select(b => new BookingViewModel(
				b.Id,
				b.StartDateTime,
				b.EndDateTime,
				DateOnly.FromDateTime(b.StartDateTime),
				TimeOnly.FromDateTime(b.StartDateTime),
				TimeOnly.FromDateTime(b.EndDateTime),
				b.IsPaid,
				b.TotalBase,
				b.TotalWithDiscount,
				b.EmployeeFullName,
				b.CustomerFullName,
				b.CustomerAddress,
				b.CustomerPhone,
				b.CustomerEmail,
				b.TreatmentName,
				b.DurationMinutes,
				b.Discount?.Name,
				b.Discount?.Amount
			))
			.ToList();

		_bookings.AddRange(newBookings);
		_skip += PageSize;
		if (newBookings.Count < PageSize)
		{
			_allLoaded = true;
		}
	}

	private async Task HandleNewSelectorClick()
	{
		SearchTerm = string.Empty;
		_now = CurrentDateTimeProvider.GetCurrentDateTime();
		_activeTab = BookingTab.New;
		await LoadMoreAsync();
	}

	private async Task HandleOldSelectorClick()
	{
		SearchTerm = string.Empty;
		_now = CurrentDateTimeProvider.GetCurrentDateTime();
		_activeTab = BookingTab.Old;
		await LoadMoreAsync();
	}

	private void HandleDeleteClick(Guid id)
	{
		_bookingToDelete = id;
		_showDeleteModal = true;
	}

	private async Task HandleConfirmDelete()
	{
		try
		{
			await BookingCommand.DeleteBooking(new DeleteBookingCommand(_bookingToDelete));
		}
		catch (DomainException ex) { Snackbar.Add(ex.Message, Severity.Error); }
		catch { Snackbar.Add("Noget gik galt.", Severity.Error); }

		_showDeleteModal = false;
		
		_bookings = _bookings.Where(b => b.Id != _bookingToDelete).ToList();
		_bookingToDelete = default;
		ApplyFilter();
		Snackbar.Add("Bookingen blev slettet.", Severity.Success);
	}

	private void ApplyFilter()
	{
		_filteredBookings = _bookings.Where(b => 
			b.CustomerFullName.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase) ||
			b.EmployeeFullName.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase) ||
			b.CustomerAddress.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase) ||
			b.CustomerPhone.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase) ||
			b.CustomerEmail.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase) ||
			b.TreatmentName.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase) ||
			(b.DiscountName?.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase) ?? false) ||
			b.StartDateTime.ToString("dddd. MMMM. yyyy", new CultureInfo("da-DK")).Contains(SearchTerm, StringComparison.OrdinalIgnoreCase) ||
			b.StartDateTime.ToString("dd/MM").Contains(SearchTerm, StringComparison.OrdinalIgnoreCase)
		).ToList();
	}
}

<style>
	.bookings-container {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		gap: 1rem;
		max-width: stretch;
		max-height: 70vh;
		overflow-y: auto;
		scrollbar-width: none;
	}

	.bookings-container:hover {
		scrollbar-width: thin;
	}

	.search-bar-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

		.search-bar-container input:focus {
			box-shadow: 0 0 0 0.15rem rgba(153, 0, 255, 0.65);
			border: #55088c
		}

		.search-bar-container input::placeholder {
			color: #aaaaaa;
			opacity: 1;
			font-size: 14px;
		}

		.search-bar-container input {
			opacity: 1;
			font-size: 14px;
		}

	.booking-search {
		width: 300px;
		background-color: #f9fafc;
	}
</style>
