@using BellaHair.Domain
@using BellaHair.Ports.Products
@using BellaHair.Presentation.WebUI.Components.Shared
@inject ISnackbar Snackbar
@inject IProductCommand ProductCommand

<!-- Mikkel Dahlmann (Mikkel Klitgaard) -->


<div class="product-card">

	<BinDeleteButton Class="bin-btn" OnClick="@(() => { _showConfirmDelete = true; })" />

	<div class="product-avatar">
		<TreatmentIcon Class="treatment-icon" />
	</div>

	<div class="product-details">

		<h6>@Product.Name</h6>

		<p class="product-description">@Product.Description</p>

		<hr class="product-line" />

		<div class="product-pd-details">

			<PriceIcon Class="product-price-icon" />
			@Product.Price.ToString("C")

		</div>
	</div>
</div>

<Modal @bind-IsVisible="@_showConfirmDelete">

	<h3>Slet '@Product.Name'</h3>
	<hr class="product-line" />
	<p>Ønsker du at slette dette produkt?</p>
	Handlingen kan ikke fortrydes.

	<div class="btn-wrapper">

		<button class="btn-remove" @onclick="HandleOnDeleteClick">Slet</button>
		<button class="btn-add" @onclick="@(() => { _showConfirmDelete = false; })">Annuller</button>

	</div>

</Modal>



@code {
	[Parameter, EditorRequired]
	public required ProductDTO Product { get; set; }

	[Parameter, EditorRequired]
	public required EventCallback OnChange { get; set; }

	private bool _showConfirmDelete;


	private async Task HandleOnDeleteClick()
	{
		try
		{
			var command = new DeleteProductCommand(Product.Id);
			await ProductCommand.DeleteProductAsync(command);

			_showConfirmDelete = false;
			await OnChange.InvokeAsync();
			Snackbar.Add("Behandlingen blev slettet med succes", Severity.Success);
		}
		catch (DomainException ex)
		{
			_showConfirmDelete = false;
			Snackbar.Add(ex.Message, Severity.Error);
		}
		catch (Exception)
		{
			_showConfirmDelete = false;
			Snackbar.Add("Der skete en uventet fejl.", Severity.Error);
		}
	}
}
