@page "/kalender"
@using BellaHair.Domain
@using BellaHair.Ports.Bookings
@using BellaHair.Ports.Employees
@using BellaHair.Presentation.WebUI.Components.Pages.Bookings
@using BellaHair.Presentation.WebUI.Components.Pages.Employees
@using BellaHair.Infrastructure
@using Radzen
@rendermode InteractiveServer
@inject IBookingQuery BookingQuery
@inject IEmployeeQuery EmployeeQuery
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager


<div class="header-and-employee">
    <div>
        <h3>Kalender</h3>
        <p>Vælg den medarbejder, du vil se kalenderen for.</p>
    </div>
    <div class="top-page-item">
        <RadzenDropDown TValue="Guid" Data="@_employees" TextProperty="Fullname" ValueProperty="Id" @bind-Value="@(_pickedEmployeeId)" Change="@HandlePickedEmployee" />
    </div>
</div>

@* Radzens scheduler komponent som vi bruger til at vise bookings filtreret på medarbejder.  
   Vi bruger "Allbookinginfo" fra viewmodellen til at displaye info på bookingen da vi ikke kunne tilgå deres templates. 
*@

<Radzen.Blazor.RadzenScheduler @ref="scheduler"
                               Data="@_bookings"
                               TItem="BookingCalendarViewModel"
                               StartProperty="StartDateTime"
                               EndProperty="EndDateTime"
                               @bind-CurrentDate="@currentDate"
                               Style="height: 650px;"
                               TextProperty="AllBookingInfo"
                               AppointmentRender="@OnAppointmentRender"
                               AppointmentSelect="@OnAppointmentSelect"
                               NextText="Næste"
                               PrevText="Tilbage"
                               LoadData="@OnLoadData"
                               Culture="@dkCulture">
    <br />

    @* De forskellige views (dag, uge, måned) - begrænset tiden indenfor åbningstiderne og sat tidsformatet *@

    <RadzenWeekView StartTime="@(TimeSpan.FromHours(8))"
                    EndTime="@(TimeSpan.FromHours(19))"
                    MinutesPerSlot="30" TimeFormat="HH:mm" HeaderFormat="ddd, MMM d" />

    <RadzenDayView StartTime="@(TimeSpan.FromHours(8))"
                   EndTime="@(TimeSpan.FromHours(19))"
                   MinutesPerSlot="30" TimeFormat="HH:mm" />

    <RadzenMonthView />

</Radzen.Blazor.RadzenScheduler>

@code {

    // Bruges til at sætte format for dato i header på kalender
    System.Globalization.CultureInfo dkCulture = new System.Globalization.CultureInfo("da-DK") { DateTimeFormat = { ShortDatePattern = "d. MMMM yyyy" } };

    RadzenScheduler<BookingCalendarViewModel> scheduler;
    public List<BookingCalendarViewModel> _bookings { get; set; } = new List<BookingCalendarViewModel>();
    public List<EmployeeNameViewModel> _employees { get; set; } = new List<EmployeeNameViewModel>();

    public DateTime currentDate = DateTime.Today;

    public Guid _pickedEmployeeId { get; set; }

    public DateTime _pickedStartDateTime { get; set; }
    public DateTime _pickedEndDateTime { get; set; }

    // Indlæser medarbejdere og vælger den første medarbejder på listen
    protected async override Task OnInitializedAsync()
    {
        await LoadEmployees();

        if (_employees.Any())
        {
            _pickedEmployeeId = _employees.First().Id;
        }
    }

    // Henter medarbejdere fra databasen og sorterer alfabetisk efter fornavn
    private async Task LoadEmployees()
    {
        try
        {
            var employees = await EmployeeQuery.GetAllEmployeesSimpleAsync();
            _employees = employees.Select(e => new EmployeeNameViewModel(e.Id, e.Name)).OrderBy(e => e.FullName).ToList();
        }
        catch (Exception e)
        {
            Snackbar.Add($"Noget gik galt: {e.Message}", Severity.Error);
        }
    }

    // Genindlæser siden når medarbejder er valgt
    private async Task HandlePickedEmployee(object value)
    {
        if (scheduler != null)
        {
            await scheduler.Reload();
        }
    }

    // Indlæser data på ny når der ændres i kalenderen
    private async Task OnLoadData(SchedulerLoadDataEventArgs args)
    {
        _pickedStartDateTime = args.Start;
        _pickedEndDateTime = args.End;

        if (_pickedEmployeeId != Guid.Empty)
        {
            await LoadBookings(_pickedStartDateTime, _pickedEndDateTime, _pickedEmployeeId);
        }
    }

    // Henter bookings fra DB filtreret efter den valgte startdato, slutdato og valgte medarbejder.
    private async Task LoadBookings(DateTime pickedStartDate, DateTime pickedEndDate, Guid pickedEmployeeId)
    {
        try
        {
            var bookings = await BookingQuery.GetAllWithinPeriodOnEmployee(pickedStartDate, pickedEndDate, pickedEmployeeId);

            _bookings = bookings.Select(b => new BookingCalendarViewModel(
                b.Id,
                b.StartDateTime,
                b.EndDateTime,
                DateOnly.FromDateTime(b.StartDateTime),
                TimeOnly.FromDateTime(b.StartDateTime),
                TimeOnly.FromDateTime(b.EndDateTime),
                b.EmployeeFullName,
                b.CustomerFullName,
                b.TreatmentName,
                b.DurationMinutes,
                $"{b.TreatmentName} ({b.DurationMinutes} min)\nKunde: {b.CustomerFullName}" // Samler al information så vi kan displaye det i kalenderen.
            )).OrderBy(b => b.StartDateTime).ToList();
        }
        catch (DomainException ex) { Snackbar.Add(ex.Message, Severity.Error); }
        catch (Exception) { Snackbar.Add("Noget gik galt.", Severity.Error); }
    }

    // Styler hvordan bookings skal se ud i kalenderen - sætter farver og hvordan tekst displayes.
    private void OnAppointmentRender(SchedulerAppointmentRenderEventArgs<BookingCalendarViewModel> args)
    {
        string fixedColor = "#eb8ac7";
        string textColor = "white";

        args.Attributes["style"] =
            $"background-color: {fixedColor};" +
            $"border-color: {fixedColor};" +
            $"color: {textColor};" +
            $"border-radius: 4px;" +
            $"white-space: pre-wrap;";
    }

    // Navigerer til bookingdetaljesiden på den booking der trykkes på
    private void OnAppointmentSelect(SchedulerAppointmentSelectEventArgs<BookingCalendarViewModel> args)
    {
        NavigationManager.NavigateTo($"/booking/{args.Data.Id}");
    }
}