<div class="kk-container">
    <h5 style="margin-top: 2px;">Personligt info</h5>

    <div class="employee-grouped-inputs">

        <div class="employee-input">
            <label for="first-name-input" class="required">Fornavn</label>
            <InputText autocomplete="off" id="first-name-input" @ref="_firstNameInput" @bind-Value="EmployeeModel.FirstName" style="width: 150px" />
            <ValidationMessage For="@(() => EmployeeModel.FirstName)" />
        </div>

        <div class="employee-input">
            <label for="middle-name-input">Mellemnavn</label>
            <InputText autocomplete="off" id="middle-name-input" @bind-Value="EmployeeModel.MiddleName" style="width: 150px" />
            <ValidationMessage For="@(() => EmployeeModel.MiddleName)" />
        </div>

        <div class="employee-input">
            <label for="last-name-input" class="required">Efternavn</label>
            <InputText autocomplete="off" id="last-name-input" @bind-Value="EmployeeModel.LastName" style="width: 150px" />
            <ValidationMessage For="@(() => EmployeeModel.LastName)" />
        </div>
    </div>

    <div class="employee-grouped-inputs">
        <div class="employee-input">
            <label for="email-input" class="required">Email</label>
            <InputText autocomplete="off" id="email-input" @bind-Value="EmployeeModel.Email" />
            <ValidationMessage For="@(() => EmployeeModel.Email)" />
        </div>

        <div class="employee-input">
            <label for="phonenumber-input" class="required">Telefon</label>
            <InputText autocomplete="off" id="phonenumber-input" @bind-Value="EmployeeModel.PhoneNumber" style="width: 100px; " />
            <ValidationMessage For="@(() => EmployeeModel.PhoneNumber)" />
        </div>
    </div>

</div>

<div class="kk-container">
    <h5 style="margin-top: 2px;">Adresse </h5>

    <div class="employee-grouped-inputs">
        <div class="employee-input">
            <label for="streetname-input" class="required">Vejnavn</label>
            <InputText autocomplete="off" id="streetname-input" @bind-Value="EmployeeModel.StreetName" />
            <ValidationMessage For="@(() => EmployeeModel.StreetName)" />
        </div>

        <div class="employee-input">
            <label for="street-number-input" class="required">Vejnummer</label>
            <InputText autocomplete="off" id="street-number-input" @bind-Value="EmployeeModel.StreetNumber" />
            <ValidationMessage For="@(() => EmployeeModel.StreetNumber)" />
        </div>

        <div class="employee-input">
            <label for="floor-input">Etage</label>
            <InputNumber autocomplete="off" id="floor-input" @bind-Value="EmployeeModel.Floor" style="width:50px" />
            <ValidationMessage For="@(() => EmployeeModel.Floor)" />
        </div>
    </div>

    <div class="employee-grouped-inputs">
        <div class="employee-input">
            <label for="city-name-input" class="required">By</label>
            <InputText autocomplete="new-password" id="city-name-input" @bind-Value="EmployeeModel.CityName" />
            <ValidationMessage For="@(() => EmployeeModel.CityName)" />
        </div>

        <div class="employee-input">
            <label for="zipcode-input" class="required">Postnummer</label>
            <InputNumber autocomplete="off" id="zipcode-input" @bind-Value="EmployeeModel.ZipCode" />
            <ValidationMessage For="@(() => EmployeeModel.ZipCode)" />
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public required NewEmployeeModel EmployeeModel { get; set; }

    private InputText? _firstNameInput;

    // Override af componentbase metode.
    // Metoden kaldes automatisk efter hver render af komponenten.
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Hvis det er komponentens første render, så køres følgende.
        if (firstRender)
        {
            // Sikrer at firstnameinput elementet er skabt og tilgængeligt, før der forsøges at sættes focus til det.
            if (_firstNameInput?.Element.HasValue ?? false)
            {
                await _firstNameInput.Element.Value.FocusAsync();
            }
        }
    }
}